In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read the data from the CSV file in the 'data' folder
movies_df = pd.read_csv('data/movie.csv', sep='\t')

# Display the first few rows of the dataframe
print(movies_df.head())

                Brand        Total  Releases  \
0       Marvel Comics  15806336901        69
1  Legendary Pictures   7018798067        56
2           Lucasfilm   6325022918        39
3               Pixar   6078217662        28
4           DC Comics   5815645953        46

                                   #1 Release  Lifetime Gross
0                           Avengers: Endgame       858373000
1                              Jurassic World       652270625
2  Star Wars: Episode VII - The Force Awakens       936662225
3                               Incredibles 2       608581744
4                             The Dark Knight       533345358

In [14]:
# Sort the DataFrame by Lifetime Gross in descending order to find the top movies
top_movies = movies_df.sort_values(by='Lifetime Gross', ascending=False).head(10)

# Format 'Lifetime Gross' column to display revenue in dollars
top_movies['Lifetime Gross'] = top_movies['Lifetime Gross'].apply(lambda x: '${:,.2f}'.format(x))

# Select only 'Brand' and '#1 Release' columns
top_movies = top_movies[[ '#1 Release', 'Lifetime Gross']]

# Print the top movies
print(top_movies)

                                    #1 Release   Lifetime Gross
2   Star Wars: Episode VII - The Force Awakens  $936,662,225.00
7   Star Wars: Episode VII - The Force Awakens  $936,662,225.00
0                            Avengers: Endgame  $858,373,000.00
1                               Jurassic World  $652,270,625.00
3                                Incredibles 2  $608,581,744.00
4                              The Dark Knight  $533,345,358.00
8                                    Frozen II  $477,373,578.00
5                                      Shrek 2  $441,226,247.00
11         Transformers: Revenge of the Fallen  $402,111,870.00
9                      The Secret Life of Pets  $368,384,330.00